body
{
    margin:  0;
    padding: 0;
}
.namebox
{
    position: relative;
    width: 900px;
    height: auto;
    background-image: var(--backgrnd);
    background-size: auto;
}
.container
{
    position: relative;
    width: 1100px;
    height: 637px;
    margin: auto;
}
.container .background
{
    position: absolute;
    left: var(--x-loc);
    top: var(--y-loc);
    width: var(--wi);
    height: var(--hi);
    margin: auto;
    background-image: var(--backgrnd);
    background-size: var(--wi) var(--hi);
}
.container .background .pin
{
    position: absolute;
    left: var(--x-cord);
    top: var(--y-cord);
    width: 22px;
    height: 32px;
    background: var(--mappin);
    background-size: 22px 32px;
}
.container .background .pin .overhead
{
    position: relative;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 32px;
    background: var(--logpin);
    background-size: 22px 32px;
    z-index: 4;
    opacity: 1;
    transition: all .6s linear, opacity .2s;
}
.container .background .pin:hover .overhead
{
    left: -104.5px;
    top: -304px;
    width: 231px;
    height: 336px;
    background: var(--logpin);
    background-size: 231px 336px;
    opacity: 0;
    z-index: 1999;
}
.container .background .pin .content
{
    position: relative;
    left: 0px;
    top: -30px;
    width: 22px;
    height: 32px;
    background: var(--custpin);
    background-size: 22px 32px;
    opacity: 0;
    z-index: 2000;
    transition: all .6s linear, opacity .2s;
}
.container .background .pin:hover .content
{
    left: -104.5px;
    top: -638px;
    width: 231px;
    height: 336px;
    opacity: 1;
    background: var(--custpin);
    background-size: 231px 336px;
}
